
a{
    text-decoration:none;
    color: #1AB39E;
    
}

h5{
    padding-top: 1rem;
}

.container{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    
}

.contenedorGrande{

    color: #191D74;
    width: 60%;
    display: grid;

}


.botonPrincipal{
    color: white !important;
    font-weight: 500;
    border-radius: 28px;
    background-color: #191D74;
    border-color: #191D74;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 0.3rem;
  }

.header{
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;

    background-image: url(./img/headerCorreo.svg);
    background-size: cover;
    mask:url(./img/headerCorreo.svg);
    mask-size:cover;
    -webkit-mask:url(./img/headerCorreo.svg);
    -webkit-mask-size: cover;
    width: 100%;
    height: 100%;
}

.marcaHeader{
    width: 160px;
    background-color: white;
    border-radius: 30px;
}

.segmentoMensaje{
     background-color: white;
     padding-bottom: 1.5rem;
     padding-top: 1.5rem;
}

    .segmentoMensaje h5{
        margin-bottom: 0px;
    }

    .saludoCorreo{
        padding-bottom: 0.5rem;
    }

    .mensajeCorreo{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .ctaCorreo{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }


.footer{
    display: grid;
    align-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 3.5rem;
    color: black;


    background-image: url(./img/footerCorreo.svg);
    background-size: cover;
    mask:url(./img/footerCorreo.svg);
    mask-size:cover;
    -webkit-mask:url(./img/footerCorreo.svg);
    -webkit-mask-size: cover;
    width: 100%;
    height: 100%;
}


.logoRedes{
    text-decoration: none !important;
}

.mensajeBottom{
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-content: space-between;
}

.linkRepo{
    padding-top: 1rem;
    padding-bottom: 1rem;

}


.avisoCorto{
    padding-top: 0.5rem;
}