.tituloResaltante{
    color: #A7C94E;
    font-weight: 700;
}


.textoDisclaimer{
    margin: 1rem;
    font-size: calc(3px + 0.8vw + 0.6rem);
    color: #A7C94E;
    font-weight: 600;
}

.mensajeFinalDestacado{
 color: #F23440;
 font-weight: 700;
}

.contenedorPrimario{
    display: flex;
    justify-content: center;
}

.contenedorSecundario{
    max-width: 500px;
    text-align: center;
    margin: 4vh;
    border: #F23440 solid 2px;
    padding: 2rem;
    border-radius: 30px;
}

.textoContacto{
    margin: 0.3rem;
}

a{
    color: #F19600;
}

.tituloDescripcion{
    font-weight: 800;
}